@model WeightScaleGen2.BGC.Models.ViewModels.Base.BaseUpload
@{
    ViewData["PageTitle"] = @ViewBag.MenuName;
    var inputFileUpload = nameof(Model.file_upload);
}
@Html.AntiForgeryToken()
<form id="form" name="form" action="uploader" enctype="multipart/form-data" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h6 class="h6 mb-0 text-gray-800">@ViewBag.MenuName</h6>
                <div class="separator mb-5"></div>
            </div>
        </div>

    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="mb-4">Import Image</h5>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputSearch">Upload Excel</label>
                    <div class="buttons">
                        <div class="upload-button">
                            <input type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" asp-for="file_upload" id="file_upload" name="file_upload" />
                        </div>
                    </div>
                </div>
            </div>
            <div class=" text-right">
                <input type="button" name="Upload" value="Upload" id="btnUpload" onclick="uploadFiles();" class="d-none d-sm-inline-block btn btn-sm btn-outline-success shadow-sm" />
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="mb-4">Import Image</h5>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputSearch">Name</label>
                    <input id="txtFile" type="file" value="Upload File" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <img id="imgViewer" width="200" height="200" />
                </div>
            </div>
            <div class=" text-right"><input type="button" id="btnSave" class="d-none d-sm-inline-block btn btn-sm btn-outline-success shadow-sm mb-0" value="Save" /></div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="mb-4">Show Image</h5>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div id="divdisplayImg">
                        <img id="imgViewerDis" width="200" height="200" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script>

        $('#txtFile').change(function (event) {
            var files = event.target.files;
            $('#imgViewer').attr('src', window.URL.createObjectURL(files[0]));
        });

        $('#btnSave').click(function () {
            var files = $('#txtFile').prop('files');
            console.log(files);
            var formData = new FormData();

            for (var i = 0; i < files.length; i++) {
                console.log(files[i]);
                formData.append("file_upload", files[i])
            }

            $.ajax(
                {
                    url: "\\User\\UploadFile",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        console.log(data.data[0].file);
                        $('#imgViewerDis').attr('src', 'data:image/png;base64,' + data.data[1].file);
                    }
                }
            );
        });

        function uploadFiles() {

            var inputFileObj = $("#@inputFileUpload");
            var fileUpload = inputFileObj.get(0);
            var files = fileUpload.files;

            var formData = new FormData();

            formData.append('file_upload', files[0]);

            $.ajax(
                {
                    url: "\\User\\CreateUserImport",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        alert("Files Uploaded!");
                    }
                }
            );
        }

    </script>

}