<section class="loginPage">
    <div class="loginContainer" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="loginBox">
            <div class="w-100">
                <div>
                    <img src="~/logos/bg-logo.png" class="" />
                </div>
                <div class="space-y-4">
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                        <input type="text" name="username" id="username" value="lucifer" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="example@outlook.com" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" name="password" id="password" value="bigdick69" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                </div>
                <div class="loginButton">
                    <button type="button" onclick="Login()" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-base bold px-5 py-2.5 text-center me-2 mb-2 w-100">Login</button>
                    <div class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300 dark:before:border-neutral-500 dark:after:border-neutral-500">
                        <p class="mx-4 mb-0 text-center font-semibold dark:text-white">
                            OR
                        </p>
                    </div>
                    <a asp-area="MicrosoftIdentity"
                       asp-controller="Account"
                       asp-action="SignIn" type="button" aria-disabled="false"
                       class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg py-2.5 align-middle font-semibold transition-all duration-300 ease-in-out disabled:cursor-not-allowed border bg-transparent stroke-black text-md text-black hover:stroke-white hover:text-white gap-2 disabled:border-slate-100 disabled:bg-white disabled:stroke-slate-400 disabled:text-slate-400 disabled:hover:bg-white px-4 border-slate-300 text-xs hover:border-black hover:bg-black w-100">
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" stroke="none" xmlns="http://www.w3.org/2000/svg" class="size-5 stroke-none">
                            <path d="M9.6665 1.66675H2.1665V9.16675H9.6665V1.66675Z" fill="#F25022"></path>
                            <path d="M18.8335 1.66675H11.3335V9.16675H18.8335V1.66675Z" fill="#7FBA00"></path>
                            <path d="M9.6665 10.8333H2.1665V18.3333H9.6665V10.8333Z" fill="#00A4EF"></path>
                            <path d="M18.8335 10.8333H11.3335V18.3333H18.8335V10.8333Z" fill="#FFB900"></path>
                        </svg>
                        <div class="text-base">Sign in with Microsoft</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="loginBackground"></div>
</section>

@section Scripts{
    <script>
    function Login() {
        var txtPass = $("#password");
        var txtUsername = $("#username");
        var param = {};

        param.password = txtPass.val();
        param.username = txtUsername.val();

        Swal.fire({
            title: 'รอสักครู่...',
            allowOutsideClick: false,
            didOpen: async () => {
                Swal.showLoading();
                $.ajax({
                    cache: false,
                    async: true,
                    type: "POST",
                    url: '@Url.Action("Login", "Login")',
                    data: param,
                    success: function (res) {
                        console.log(res);
                        if (res.isCompleted) {
                            window.location.href = '@Url.Action("Index", "Home")';
                            setTimeout(function () { Swal.close(); }, 2000);   
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: 'คำเตือน',
                                text: res.message[0],
                            });
                            setTimeout(function () { Swal.close(); }, 2000);
                        }
                    }
                });
            },
        });     
    }
    </script>
}