:root {
    --bg-color-1: #4741A6;
    --bg-color-2: #00A12E;
    --bg-color-3: #919191;
    --bg-color-4: #C1121F;
    --bg-color-5: #ffffff4d;
    --bg-color-6: #dd990a;
    --bg-readonly: #e6e6e6;
    --weight-status-button-1: #4741A6;
    --weight-status-button-2: #ffad00;
    --weight-status-button-3: #5f5ab6;
    --weight-status-button-4: #8b8b8b;
    --border-input-1: 1px solid #BFC7E2;
    --border-input-1-focus: 1px solid #716cb8;
    --border-input-1-focus-boxShadow: 0 0 0 1.5px rgba(113, 108, 184, 0.24);
    --border-input-invalid: 1px solid #fda9a1;
    --border-input-invalid-focus: 1px solid #e74a3b;
    --border-input-invalid-focus-boxShadow: 0 0 0 1.5px rgba(231, 74, 59, 0.24);
    --border-readonly: 1px solid #bebebe;
    --text-black-1: #252525;
    --text-gray-1: #6D6D6D;
    --text-white-1: #fff;
    --text-placeholder: #9C9DA2;
    --filter-dropshadow-1: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.20));
    --box-shadow-1: 1px 1px 4px rgba(0, 0, 0, 0.20);
    --text-size-h5: 18px;
    --text-size-h6: 16px;
    --text-size-p: 14px;
    --text-shadow-1: 0 1px 4px rgba(0, 0, 0, 0.3);
    --loaderStyle-1: no-repeat linear-gradient(#4741A6 0 0);
}

* {
    font-family: "FC Iconic" !important;
    transition: 0.20s ease-out;
}

:hover {
    transition: 0.20s ease-out;
}

i {
    font-family: "Font Awesome 6 Free" !important;
}

img {
    -webkit-user-drag: none;
    pointer-events: none;
}

.loginPage {
    overflow: hidden;
}

.loginBackground {
    width: 100vw;
    height: 100svh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/bg/WeightScale1-lg.jpg);
    background-size: cover;
    z-index: -1;
}

.loginBackground::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1a1a1a75;
}

.loginContainer {
    display: flex;
    justify-content: end;
    height: 100vh;
}

.loginBox {
    width: 528px;
    background-color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
    display: flex;
    padding: 48px;
    justify-content: center;
    align-items: center;
}

.loginBox img {
    width: 102px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
    margin-bottom: 32px;
}

.loginButton {
    margin-top: 62px;
}

.boardContainer {
    display: flex;
    padding: 12px;
    background: #ECECEC;
    overflow: hidden;
    height: 100svh;
    gap: 10px;
}

.boardContainer.noGap {
    gap: 0;
    transition: gap 0.2s ease-out;
}

.sideMenu {
    position: relative;
    left: 0;
    width: 0%;
    transition: width 0.2s ease-out;
}

.sideMenu.slideShow {
    position: relative;
    left: 0;
    width: 15%;
    transition: width 0.2s ease-out;
    z-index: 2;
}

.sideMenu nav {
    opacity: 0;
    transition: 0.02s ease-out;
}

.sideMenu.slideShow nav {
    opacity: 1;
    transition: 0.02s ease-out;
}

#sideMenuOverlay {
    display: none;
}

.sideMenu .sliderButtonBox {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    transition: transform 0.2s ease-out;
}

.sideMenu .sliderButtonBox.slideIn {
    transform: translate(calc(-50% - 5px), -50%);
    transition: transform 0.2s ease-out;
}

.sideMenu .sliderButtonBox button {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: var(--bg-color-1);
    padding: 0;
    box-shadow: 1px 0 3px rgb(0 0 0 / 50%);
    outline: none;
}

.sideMenu .sliderButtonBox button:focus {
    outline: none;
}

.sideMenu .sliderButtonBox button img {
    width: 28px;
    margin: 0 auto;
    filter: invert(1);
    transform: translate(2px, 0);
}

.sideMenu.slideShow .sliderButtonBox button img {
    transform: translate(-2px, 0) rotate(-180deg);
    transition: transform 0.2s ease-out;
}

.sideMenu nav {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 10px;
}

.sideMenu .logoBox {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px 20px;
    gap: 12px;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow-1);
    border-radius: 8px;
}

.sideMenu .logoBox p {
    margin: 0;
    background: #ffffff;
    padding: 10px 14px;
    border-radius: 4px;
}

.sideMenu .logoBox img {
    width: 46px;
    height: 22px;
    object-fit: scale-down;
    filter: var(--filter-dropshadow-1);
}

.sideMenu .logoBox h5 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-white-1);
}

.sideMenu #navbar-user {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}

.sideMenu #navbar-user {
    display: none;
}

.sideMenu.slideShow #navbar-user {
    display: flex;
}

.sideMenu .menuNav {
    border-radius: 8px;
    background: #fff;
    box-shadow: var(--box-shadow-1);
    height: 100%;
}

.sideMenu .menuNav ul {
    margin: 0;
}

.sideMenu .menuNav li {
    font-size: 14px;
    padding: 14px 24px;
    width: 100%;
    background: #fff;
    box-shadow: var(--box-shadow-1);
    border-radius: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}

.sideMenu .menuNav li.active {
    background: var(--bg-color-1);
}

.sideMenu .menuNav li.active img {
    filter: brightness(0) invert(1);
}

.sideMenu .menuNav li.active lord-icon[colors] {
    primary: #fff;
}

.sideMenu .menuNav li:last-child {
    margin-bottom: 0;
}

.sideMenu .menuNav li:hover {
    opacity: 0.8;
}

.sideMenu .menuNav li p,
.sideMenu .menuNav li button {
    padding: 0 !important;
    margin: 0 !important;
}

.sideMenu .sideNav .NavModifier {
    padding: 2px;
    overflow-y: scroll;
    height: 654px;
    margin-bottom: 12px;
}

.sideMenu .sideNav .NavModifier::-webkit-scrollbar {
    display: none;
}

.sideMenu .sideNav .NavModifier li {
    display: inline-flex;
    align-items: center;
    color: #4d4d4d;
}

.sideMenu .sideNav .NavModifier li svg {}

.sideMenu .sideNav .NavModifier ul {
    width: 92%;
    margin-left: auto;
    margin-bottom: 4px;
}

.sideMenu .sideNav .NavModifier .subMenuPanel {
    display: none;
    transition: all 0.3s ease-in-out;
}

.sideMenu .sideNav .NavModifier .subMenuPanel.showMenu {
    display: block;
}

.sideMenu .sideNav .NavModifier ul li {
    padding: 12px;
    font-size: 13px;
    margin-bottom: 4px;
}

.sideMenu .userIdentityBox {
    background: #F6F6F6;
    padding: 10px 20px 14px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-1);
}

.sideMenu .userIdentityBox .userName {
    margin-bottom: 10px;
}

.sideMenu .userIdentityBox .userName svg {
    width: 30px;
    height: 30px;
    fill: var(--bg-color-1);
    margin-bottom: 6px;
}

.sideMenu .userIdentityBox .userName .name {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-black-1);
}

.sideMenu .userIdentityBox .userName .role {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: var(--bg-color-3);
}

.sideMenu .userIdentityBox .userLogout li {
    border-radius: 4px;
    padding: 8px 40px;
}

.sideMenu .userIdentityBox .userLogout li:hover {
    filter: brightness(0.92);
}

.sideMenu .userIdentityBox .userLogout li p,
.sideMenu .userIdentityBox .userLogout li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--text-gray-1);
}

.sideMenu .userIdentityBox .userLogout li p lord-icon,
.sideMenu .userIdentityBox .userLogout li a lord-icon {
    position: absolute;
    transform: translate(calc(-18px - 100%), 1px);
}

.dataSide {
    position: relative;
    width: 85%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.dataSide.fullWidth {
    width: 100%;
}

.dataSide .pageMenuTitle {
    background: var(--bg-color-1);
    width: 100%;
    height: 66px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-inline-start: 40px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-1);
}

.dataSide .pageMenuTitle h3 {
    font-size: var(--text-size-p);
    font-weight: 500;
    margin-bottom: 0;
    color: #fff;
}

.dataSide .dataContainerWrapper {}

.dataSide .dataContainer {
    overflow-y: scroll;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 25px 40px;
    box-shadow: var(--box-shadow-1);
}

/* dataSide dataContainer Scrollbar */
.dataSide .dataContainer::-webkit-scrollbar {
    display: none;
}

.dataSide .dataContainerGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}

.dataSide h4.dataTitle {
    font-size: var(--text-size-p);
    font-weight: 600;
    margin-bottom: 0;
    color: var(--text-black-1);
}

.dataSide .buttonAction {
    padding: 12px 20px;
    font-size: var(--text-size-p);
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: var(--box-shadow-1);
}

.dataSide .buttonAction:focus,
.dataSide .buttonAction:hover {
    outline: none;
}

.dataSide .buttonAction.w-150px {
    width: 150px;
}

.dataSide .buttonAction.w-180px {
    width: 180px;
}

.dataSide .buttonAction img {
    margin-right: 4px;
    width: 18px;
    height: 18px;
    object-fit: contain;
    filter: invert(1);
}

.dataSide .buttonAction img.SapUpdate {
    position: absolute;
    transform: translate(14px, -10px);
    width: 12px;
    height: 12px;
}

.primary-bg {
    background: var(--bg-color-1);
}

.second-bg {
    background: var(--bg-color-2);
}

.third-bg {
    background: var(--bg-color-3);
}

.eject-bg {
    background: var(--bg-color-4);
}

.edit-bg {
    background: var(--bg-color-6);
}

.lightWhite-bg {
    background: var(--bg-color-5);
}

.fw-500 {
    font-weight: 500;
}

.text-black-2 {
    color: #252525;
}

.dataSide .actionIconButton {
    line-height: 0;
    padding: 12px;
}

.dataSide .actionIconButton.printIcon-i i {
    font-size: 20px;
}

.dataSide .actionIconButton.printIcon-i i::before {
    color: var(--bg-color-1);
}

button:hover {
    filter: brightness(0.8);
}

input {
    transition: all 0.2s ease-out;
}

select {
    transition: all 0.2s ease-out;
}

.dataSide label {
    color: #252525;
    font-weight: 500;
    font-size: var(--text-size-p);
}

.dataSide input,
.dataSide select {
    font-size: 14px;
    border-radius: 3px;
    border: var(--border-input-1) !important;
    cursor: pointer;
    background: #fff;
}

/* .dataSide input:read-only,
.dataSide select:read-only {
    background: var(--bg-readonly);
    border: var(--border-readonly) !important;
    pointer-events: none;
    -webkit-user-drag: none;
} */

.dataSide input:read-only {
    background: var(--bg-readonly);
    border: var(--border-readonly) !important;
    pointer-events: none;
    -webkit-user-drag: none;
}

.dataSide input.form-control,
.dataSide select.form-control {
    height: unset;
    padding: calc(var(--spacing) * 2.5) !important;
    outline: none;
}

.dataSide .flatpickr-input[readonly] {
    background: transparent;
}

.dataSide input:focus,
.dataSide input::selection,
.dataSide input:active,
.dataSide select:focus,
.dataSide select::selection,
.dataSide select:active,
.dataSide textarea:focus,
.dataSide textarea::selection,
.dataSide textarea:active,
.dataSide input.form-control:focus,
.dataSide input.form-control::selection,
.dataSide input.form-control:active {
    outline: none;
    border: var(--border-input-1-focus) !important;
    /* box-shadow: none; */
    box-shadow: var(--border-input-1-focus-boxShadow);
    transition: border 0.2s ease-out;
}

.dataSide input.form-control.is-invalid,
.dataSide .was-validated input.form-control:invalid {
    border: var(--border-input-invalid) !important;
}

.dataSide input.form-control.is-invalid:focus,
.dataSide input.form-control.is-invalid::selection,
.dataSide input.form-control.is-invalid:active,
.dataSide .was-validated input.form-control:invalid:focus,
.dataSide .was-validated input.form-control::selection,
.dataSide .was-validated input.form-control:active {
    border: 1px solid var(--border-input-invalid-focus) !important;
    box-shadow: var(--border-input-invalid-focus-boxShadow);
}

.dataSide .dataTables_wrapper {
    padding: 0;
}

.dataSide .dataTables_length {
    display: flex;
    width: 100%;
    justify-content: end;
}

.dataSide .dataTables_length label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #9C9DA2;
}

.dataSide .dataTables_length label select {
    background: var(--bg-color-1);
    border: 1px solid var(--bg-color-1);
    color: #fff;
    cursor: pointer;
}

.dataSide .dataTables_length label select option {
    cursor: pointer;
}

.dataSide .dataTables_length label select:focus {
    box-shadow: none;
}

.dataSide .dataTables_info {
    font-size: 14px;
    color: #9C9DA2;
    margin-top: 12px;
    margin-bottom: 4px;
}

.dataSide .dataTables_paginate ul {
    justify-content: center;
    font-size: 14px;
}

.dataSide .dataTables_paginate ul .page-item.disabled .page-link {
    color: #858796;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dddfeb;
}

.dataSide .dataTables_paginate ul .page-item .page-link {
    font-size: 14px;
    color: var(--bg-color-1);
}

.dataSide .dataTables_paginate ul .page-item.active .page-link {
    color: #fff;
    background-color: var(--bg-color-1);
    border-color: var(--bg-color-1);
}

.dataSide table.dataTable {
    font-size: 14px;
}

.dataSide table.dataTable thead tr {
    background: var(--bg-color-1);
}

.dataSide table.dataTable thead tr th {
    font-weight: 500;
    padding: 18px !important;
    text-transform: capitalize;
}

.dataSide table.dataTable thead tr th {
    border-collapse: collapse !important;
    border-right: 1px solid rgb(101 97 177);
}

.dataSide table.dataTable thead tr th:last-child {
    border-right: none;
}


.dataSide table.dataTable tbody tr td {
    color: #474747;
    font-weight: 400;
    padding: 14px !important;
    text-transform: capitalize;
    border-collapse: collapse !important;
    border-right: 1px solid rgb(150 150 150 / 50%);
}

.dataSide table.dataTable tbody tr td:last-child {
    border-right: none;
}

.dataSide table.dataTable tbody tr:nth-child(odd) {
    background: #f6f6f6;
}

.dataSide table.dataTable tbody tr:nth-child(even) {
    background: #dcdcdc;
}

.dataSide table.dataTable {
    width: 100% !important;
}

.dataSide table.dataTable th,
.dataSide table.dataTable td {
    white-space: nowrap;
}

.line-height-1-4 {
    line-height: 1.4;
}

.dataSide .dataCheckbox-wrapper {
    font-size: 13px;
}

.dataSide .dataCheckbox-wrapper input[type="checkbox"] {
    background: transparent;
}

.dataSide .dataCheckbox-wrapper a {
    text-decoration-line: none;
}

.dataCheckbox-wrapper .ikxBAC {
    appearance: none;
    background-color: transparent;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 14px;
    margin: 0;
    position: relative;
    width: 24px;
}

.dataCheckbox-wrapper .ikxBAC::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dataCheckbox-wrapper .ikxBAC,
.dataCheckbox-wrapper .ikxBAC::after {
    /* transition: all 100ms ease-out; */
}

.dataCheckbox-wrapper .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 10px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 10px;
}

.dataCheckbox-wrapper input[type=checkbox] {
    border: 1px solid #fff !important;
    cursor: pointer;
    pointer-events: none;
}

.dataCheckbox-wrapper .ikxBAC:hover {
    /* background-color: #fff; */
    outline: none;
}

.dataCheckbox-wrapper .ikxBAC:checked {
    background-color: #ffffff40;
}

.dataCheckbox-wrapper .ikxBAC:checked::after {
    background-color: #fff;
    left: 11px;
}

.dataCheckbox-wrapper :focus:not(.focus-visible) {
    outline: 0;
}

.dataCheckbox-wrapper .ikxBAC:checked:hover {
    /* background-color: #535db3; */
}

.dataside .dataContainer span.select2.select2-container {
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #BFC7E2 !important;
    padding: 8px;
    height: auto !important;
    color: #3a3b45 !important;
    outline: none !important;
    box-shadow: none !important;
}

/* swal2 CSS Modal Edit */
.swal2-container .swal2-actions {
    gap: calc(var(--spacing) * 2);
}

.swal2-container .swal2-actions button {
    width: 120px;
    padding: 12px 0;
}

.swal2-actions button.btn-outline-primary {
    color: var(--bg-color-1);
    border-color: var(--bg-color-1);
}

.swal2-actions button.btn-outline-primary:hover {
    filter: none;
    color: #fff;
    background: var(--bg-color-1);
}

.swal2-actions button.btn-outline-danger {
    color: var(--bg-color-4);
    border-color: var(--bg-color-4);
}

.swal2-actions button.btn-outline-danger:hover {
    filter: none;
    color: #fff;
    background: var(--bg-color-4);
}

/* Home CSS Edit */
.HomePage .apexcharts-legend {
    display: inline-flex;
}

.HomePage .apexcharts-canvas svg {
    overflow: visible;
}

.HomePage .apexcharts-inner {
    transform: translate(58px, 30px);
}

.HomePage .apexcharts-yaxis {
    transform: translate(25px, 0);
}

.HomePage .apexcharts-yaxis .apexcharts-yaxis-title {
    transform: rotate(-90deg) translate(25px, 25px);
    transform-origin: 0;
}

.HomePage .weightStatButton {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: var(--box-shadow-1);
}

.HomePage .weightStatButton svg {
    position: absolute;
    top: 50%;
    left: 50px;
    /* transform: translate(0, calc(-50% + -10px)); */
    transform: translate(0, -50%);
    width: 30px;
    height: 30px;
}

.HomePage .weightStatButton h1,
.weightStamp h1 {
    display: block;
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    text-shadow: var(--text-shadow-1);
}

.HomePage .weightStatButton h1>div {
    text-align: center !important;
}

.HomePage .weightStatButton p {
    display: block;
    margin-bottom: 0;
    color: #eaeaea;
    font-weight: 300;
    font-size: 14px;
    text-shadow: var(--text-shadow-1);
}

.weightStatButton.status-1,
.weightStamp.checkIn {
    background: var(--weight-status-button-1);
}

.weightStatButton.status-1 svg {
    /* transform: translate(0, calc(-50% + -10px)) rotate(-90deg); */
    transform: translate(0, -50%) rotate(-90deg);
}

.weightStatButton.status-2,
.weightStamp.checkOut {
    background: var(--weight-status-button-2);
}

.weightStatButton.status-2 svg {
    /* transform: translate(0, calc(-50% + -10px)) rotate(90deg); */
    transform: translate(0, -50%) rotate(90deg);
}

.weightStatButton.status-3 {
    background: var(--weight-status-button-3);
}

.weightStatButton.status-3 svg {
    animation: loadRotate 3s infinite linear;
}

@keyframes loadRotate {
    from {
        /* transform: translate(0, calc(-50% + -10px)) rotate(0deg); */
        transform: translate(0, -50%) rotate(0deg);
    }

    to {
        /* transform: translate(0, calc(-50% + -10px)) rotate(360deg); */
        transform: translate(0, -50%) rotate(360deg);
    }
}

.weightStatButton.status-4 {
    background: var(--weight-status-button-4);
}

.weightStamp {
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow-1);
    padding: 64px 0;
    cursor: pointer;
}

.weightStamp:hover {
    filter: brightness(0.8);
}

.weightStamp img {
    width: 48px;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.weightInRecently {
    border: 1px solid var(--border-input-1);
    border-radius: 5px;
}

.weightInRecently .weightInSearch {
    padding: 20px 26px;
    background: var(--weight-status-button-3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.weightInRecently .weightInSearch input:hover {
    filter: brightness(0.9);
    transition: filter 0.16s ease-out;
}

.weightInRecently .weightInSearch input::placeholder {
    color: var(--text-placeholder);
}

.weightInRecently .weightInSearch button {
    background: var(--bg-color-1);
}

.weightInRecently ul {}

.weightInRecently ul li {
    padding: 18px 24px 18px !important;
    cursor: pointer;
}

.weightInRecently ul li:nth-child(odd) {
    background: #f9f9f9;
}

.weightInRecently ul li:nth-child(even) {
    background: #e9e9e9;
}

.weightInRecently ul li:hover {
    filter: brightness(0.8);
}

.weightInRecently ul li:last-child {
    margin-bottom: 26px;
}

.weightInRecently ul li p {
    margin-bottom: 0;
}

.weightInRecently ul li .weightInSearch-Ticket p:first-child {
    font-size: 16px;
    font-weight: 500;
}

.weightInRecently ul li .weightInSearch-Ticket p:last-child {
    font-size: 15px;
    font-weight: 400;
}

.weightInRecently ul li .weightInSearch-TicketNo {
    font-size: 16px;
    font-weight: 500;
}

.weightStampInfo form h4 {
    color: #252525;
    font-weight: 500;
    font-size: var(--text-size-p);
}

.filter-invert-0 {
    filter: invert(0) !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.pointer-unset {
    pointer-events: unset !important;
}

.shadow-sm {
    box-shadow: 0 1px .25rem 0 rgba(58, 59, 69, .2) !important;
}

.dataContainer .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    font-size: 14px;
    border-radius: 3px;
    border: var(--border-input-1) !important;
    cursor: pointer;
    height: unset;
    padding: calc(var(--spacing) * 2.5);
}

.dataContainer .select2-container--bootstrap-5.select2-container--focus .select2-selection,
.dataContainer .select2-container--bootstrap-5.select2-container--open .select2-selection {
    outline: none;
    border: var(--border-input-1-focus) !important;
    box-shadow: var(--border-input-1-focus-boxShadow);
    transition: border 0.2s ease-out;
}

.select2-container--bootstrap-5 .select2-dropdown {
    border: var(--border-input-1-focus) !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
    font-size: var(--text-size-p);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    font-size: var(--text-size-p);
    border: var(--border-input-1-focus) !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
    outline: none;
    border: var(--border-input-1-focus) !important;
    box-shadow: var(--border-input-1-focus-boxShadow);
    transition: border 0.2s ease-out;
}

/* The switch - the box around the slider */
.RoleCheckboxContainer {
    position: relative;
    width: 50px;
    height: 26px;
}

.RoleCheckboxContainer:hover {
    opacity: 0.7;
    transition: opacity 0.2s ease-out;
}

/* Hide default HTML checkbox */
.RoleCheckbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.RoleCheckboxSwitch {
    width: 100%;
    height: 100%;
    display: block;
    background: var(--bg-color-1);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    margin-bottom: 0;
}

/* The slider */
.RoleCheckboxSlider {
    width: 22px;
    height: 22px;
    position: absolute;
    left: calc(50% - 22px / 2 - 12px);
    top: calc(50% - 22px / 2);
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.RoleCheckboxContainer.RolePause .RoleCheckboxSwitch {
    background: var(--bg-color-4);
}

.RoleCheckboxContainer.RolePause .RoleCheckboxSlider {
    left: calc(50% - 22px / 2 + 12px);
    top: calc(50% - 22px / 2);
}

.toggleSwitch-1 {
    background: #e8e8e8;
    padding: 6px 18px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-1);
}

.toggleSwitch-1:hover label {
    filter: brightness(0.9);
}

.toggleSwitch-1 span#btn_weight_status {
    height: 22px;
    width: 22px;
}

.toggleSwitch-1 label:nth-child(1) {
    height: 26px;
    width: 48px;
    margin: 0;
    cursor: pointer;
}

.toggleSwitch-1 label:nth-child(2) {
    padding-left: 8px;
    height: 100%;
    align-content: center;
    -webkit-user-drag: none;
    cursor: pointer;
    margin-bottom: 0;
}

.loaderStyle-1 {
    height: 8px;
    width: 100%;
    max-width: 588px;
    background: var(--loaderStyle-1), var(--loaderStyle-1), #d7b8fc;
    background-size: 60% 100%;
    animation: loader1 3s infinite;
}

@keyframes loader1 {
    0% {
        background-position: -150% 0, -150% 0
    }

    66% {
        background-position: 250% 0, -150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}

#weightMaster-ProgressBar {
    display: none;
}

@media (min-width:768px) and (max-width:1279.98px) {
    .sideMenu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        transition: width 0.2s ease-out;
    }

    .sideMenu .sliderButtonBox.slideIn {
        left: 8px;
        transform: translate(calc(-50% - 5px), -50%);
        transition: transform 0.2s ease-out;
    }

    .sideMenu.slideShow {
        position: absolute;
        width: 45%;
        top: 0;
        bottom: 0;
        padding: 12px;
    }

    .dataSide {
        width: 100%;
        overflow: auto;
    }

    .dataSide::-webkit-scrollbar {
        display: none;
    }

    .dataSide.fullWidth {
        width: 100%;
    }

    .dataSide .pageMenuTitle {
        padding-inline-start: 30px;
    }

    .dataSide .dataContainer {
        padding: 20px 30px;
    }

    .dataSide .dataTables_paginate ul .page-item .page-link {
        font-size: 14px;
        height: 100%;
        align-content: center;
    }
}

@media (min-width:1280px) and (max-width:1535.98px) {
    .sideMenu .sideNav .NavModifier {
        height: 512px;
    }

    .sideMenu.slideShow {
        width: 22%;
    }

    .dataSide {
        width: 78%;
    }

    .dataSide .pageMenuTitle {
        padding-inline-start: 30px;
    }

    .dataSide .dataContainer {
        padding: 20px 30px;
    }

    .HomePage .weightStatButton svg {
        left: 20px;
    }
}

@media (max-width: 1279.98px) {
    /* .sideMenu.slideShow::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #212020b3;
        z-index: -1;
        width: 100vw;
    } */

    #sideMenuOverlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #212020b3;
        z-index: 1;
    }

    /* แสดงเมื่อ active */
    #sideMenuOverlay.hide {
        display: none;
    }

    .HomePage .weightStatButton svg {
        transform: translate(0, -50%);
    }

    .weightStatButton.status-1 svg {
        transform: translate(0, -50%) rotate(-90deg);
    }

    .weightStatButton.status-2 svg {
        transform: translate(0, -50%) rotate(90deg);
    }

    @keyframes loadRotate {
        from {
            transform: translate(0, -50%) rotate(0deg);
        }

        to {
            transform: translate(0, -50%) rotate(360deg);
        }
    }

    .sideMenu .sideNav .NavModifier {
        height: 558px;
    }

    .dataSide .dataContainer {
        overflow: unset;
        height: unset !important;
        min-height: 90%;
    }

    .loginPage {
        padding: 30px;
    }

    .loginContainer {
        justify-content: center;
        align-items: center;
    }

    .loginBox {
        padding: 38px 40px;
        border-radius: 8px;
        font-size: var(--text-size-p) !important;
    }

    .loginBox img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }

    .loginButton {
        margin-top: 48px;
    }

    .loginBox .text-base {
        font-size: 14px;
    }
}

@media (max-width: 767.98px) {

    .sideMenu .sideNav .NavModifier {
        height: 558px;
    }

    .sideMenu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        transition: width 0.2s ease-out;
    }

    .sideMenu .sliderButtonBox.slideIn {
        left: 8px;
        transform: translate(calc(-50% - 5px), -50%);
        transition: transform 0.2s ease-out;
    }

    .sideMenu.slideShow {
        position: absolute;
        width: 95%;
        top: 0;
        bottom: 0;
        padding: 12px;
    }

    .dataSide {
        width: 100%;
        overflow: auto;
    }

    .dataSide::-webkit-scrollbar {
        display: none;
    }

    .dataSide.fullWidth {
        width: 100%;
    }

    .dataSide .pageMenuTitle {
        padding-inline-start: 30px;
    }

    .dataSide .dataContainer {
        padding: 20px;
    }

    .dataSide .dataTables_paginate ul .page-item .page-link {
        font-size: 14px;
        height: 100%;
        align-content: center;
    }

    #chart .apexcharts-yaxis .apexcharts-yaxis-title {
        transform: rotate(-90deg) translate(60px, 30px);
        transform-origin: 0;
    }

    #chart .apexcharts-yaxis .apexcharts-xaxis-title {
        transform: translate(-20px, 5px);
        transform-origin: 0;
    }

    #chart .apexcharts-xaxis .apexcharts-xaxis-texts-g text {
        transform: translate(5px, -20px);
        transform-origin: 0;
        writing-mode: sideways-lr;
        font-style: italic;
    }

    .HomePage .weightStatButton svg {
        left: 10px;
        width: 26px;
        height: 26px;
        transform: translate(0, calc(-50% - 8px));
    }

    .weightStatButton.status-1 svg {
        transform: translate(0, calc(-50% - 8px)) rotate(-90deg);
    }

    .weightStatButton.status-2 svg {
        transform: translate(0, calc(-50% - 8px)) rotate(90deg);
    }

    @keyframes loadRotate {
        from {
            transform: translate(0, calc(-50% - 8px)) rotate(0deg);
        }

        to {
            transform: translate(0, calc(-50% - 8px)) rotate(360deg);
        }
    }

    .HomePage .weightStatButton h1,
    .weightStamp h1 {
        font-size: 26px;
    }

    .HomePage .weightStatButton p {
        font-size: 12px;
        text-align: center;
        line-height: 1.2;
    }

    .weightStamp {
        padding: 48px 0;
    }

    .weightStamp img {
        width: 36px;
    }

    .weightInRecently ul li .weightInSearch-Ticket p:first-child {
        font-size: 14px;
    }

    .weightInRecently ul li .weightInSearch-Ticket p:last-child {
        font-size: 13px;
    }

    .weightInRecently ul li .weightInSearch-TicketNo {
        font-size: 14px;
    }

    .weightInRecently ul li:hover {
        filter: unset;
    }

    .dataSide .actionIconButton {
        padding: 8px;
    }

    .dataSide table.dataTable thead tr th,
    .dataSide table.dataTable tbody tr td {
        font-size: 13px;
    }

    .dataSide .dataContainerGrid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .sideMenu .sideNav .NavModifier ul {
        width: 95%;
    }

    .swal2-container .swal2-header .swal2-title {
        font-size: 20px;
    }
}

@media (max-width: 399.98px) {
    :root {
        --text-size-p: 13px
    }

    .dataSide .dataTables_paginate ul {
        justify-content: start;
    }

    .dataSide .pageMenuTitle {
        padding-inline-start: 20px;
    }

    .dataSide .dataContainer {
        padding: 18px;
    }

    .dataSide .buttonAction {
        padding: 12px 14px;
    }

    .dataSide .actionIconButton {
        padding: 8px;
    }
}